@import './base.css';

body {
    font-family: var(--mainFont);
    background-color: #eee;
}

.menu {
    display: none;
}

.header {
    background-color: #fff;
    padding: 20px 0px;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 3px;
}

.header .logo img {
    width: 35px;
}

.header .logo a {
    color: var(--mainColor);
}

.navbar ul {
    display: flex;
    gap: 16px;
}

.navbar ul li a {
    color: #101928;
}

.active {
    font-weight: 900;
}

.auth {
    display: flex;
    gap: 10px;
    align-items: center;
}

.auth a {
    font-family: var(--subFont);
    border-radius: 7.118597984313965px;
    padding: 5.3541765213012695px 20.18113136291504px;
}

.auth .login {
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
    font-weight: 700;
    ;
}

.auth .register {
    color: #fff;
    background-color: var(--mainColor);
}

/* media header */
@media screen and (max-width:992px) {
    .navbar {
        display: none;
    }

    .menu {
        display: block;
    }

    .auth {
        display: none;
    }
}

@media screen and (max-width:992px) {
    .container {
        width: calc(100% - 50px);
    }
}

.header .logo a {
    font-size: 14px;
}


.footer {
    background-color: #393E46;
    color: #fff;
    padding: 50px 0;
}

.footer a {
    color: #fff;
}

.footer-left-side .logo {
    display: flex;
    align-items: center;
    gap: 3px;
}

.footer-left-side .logo img {
    width: 35px;
}

.footer-left-side {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: 100px;
}

.footer-left-side .icons img {
    border: 1px solid #fff;
    padding: 10px;
    width: 20px;
    height: 20px;
}

.footer-right-side {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.footer-right-side nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.footer-right-side .footer-item {
    display: flex;
    flex-direction: column;
    gap: 16px
}

/* media footer */
@media screen and (max-width: 1200px) {
    .footer .row{
        gap:10px;
    }
    .footer-left-side {
        width: 100%;
    }

    .footer-right-side {
        width: 100%;
    }
}
    @media screen and (max-width: 768px) {
        .footer-item{
            width: 50%;
            margin-bottom: 21px;
        }
    }
        @media screen and (max-width: 768px) {
            .footer-item{
                width: 100%;
            }
    }